<div class="jumbotron">
    <h1>Word Parser</h1>
    <p class="lead">Word Parser is utility to parse long text files and get the frequency of words</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Use the API methods to get parse the file which is input as httpURL.</p>
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
